{
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "semicolons": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}